    body{ 
         margin: 0 auto;
        width: 1000px;
        background-image: url('images/gradient-1.jpg');
        background-attachment: scroll;
        background-repeat: repeat-x;
        background-size: contain; }
     
        li  {
        list-style-type: none;
        overflow: hidden;
        background-color: #0C63AA;
        border-right: 2px solid gray ;
        float: left;
        border-bottom: 3px solid #23C8FF; }
    
         li a{
            display: block;
            text-align: center;
            color: white;
            padding: 15px;
            text-decoration: none;}
           li a:hover{ background: #333;
                      color: violet;}
          
            .id {
           float:right;
           background-color:#fff;
           margin-right: 30px;}
         
              .top {
                background-color: #EDF2F6;
                color: #C0BAB6;
                padding: 5px 0  10px 35px;
                border-top-left-radius: 20px;
               }
               h2{
                       font-family:Poppins Medium ;
                       color: #115795;
                       font-size: 40px;}
                p {
                        color: #84CFF9;
                        font-family: Poppins light ;
                        font-size: 25px;
                        margin: auto;}
               .color{
                        background-color: #fff;
                        padding-top: 15px;}
                      
                table, th,td, a{
                            list-style-type: none;
                            text-decoration: none;
                            overflow: hidden;
                            color: #fff;}
                  table, th, td{
                          
                          border-collapse: collapse;
                          height: 40px;
                          width:200px ;
                          margin-left: 35px;}
                  td {
                      background-color: #1195D5;
                      font-family: poppins light;
                      color: #fff; }
                       th,td{ border-bottom: 2px solid #7DB2C4;}
                          .table img{
                                float: right;
                                margin-right: 25px; }
                             #main{
                              background-color: #F8F9FB;
                              overflow: hidden;}
                            
                               #box{
                                  display: inline-block;
                                  margin-left: 35px;
                                  width: 306.67px;}
                               #box h3{
                                  box-sizing: border-box;
                                  background-color: #E91547;
                                  font-size: 25px;
                                  color: white;
                                  padding:5px;
                                  border-bottom-right-radius: 20px;} 

                                #middle{
                                display: inline-block;
                                margin-left: 10px;
                                margin-right: 10px;
                                width: 306.67px;}
                               #middle h3{
                                box-sizing: border-box;
                               color: white;
                                padding: 5px;
                                font-size: 25px;
                                border-bottom-right-radius: 20px;}
                         
                             #right{
                            display: inline-block;
                            width: 306.67px; }
                          #right h3{
                            box-sizing: border-box;
                            color: white;
                            padding:5px;
                            font-size: 25px;
                            border-bottom-right-radius: 20px;
                           }
                          .read{
                                box-sizing: border-box;
                                color:#fff; 
                                border-bottom-right-radius: 50px;
                                border-top-right-radius:50px;
                                width: 160.67px;
                                display: inline-block;}
                      .below{ margin-left: 35px;
                          display: block;}
                    .readmore {
                              box-sizing: border-box;
                              background-color:#1195D5;
                              color:#fff; 
                              border-bottom-right-radius: 50px;
                              border-top-right-radius:50px;
                              width: 170.67px;
                              display: inline-block;}
                  .below ,h3  { color:#01427C;}
                 .box {
                      float: left;
                      width: 307.5px;}
               .box h3{ color: #002776; }                                         
             .box ul li{
                        line-height: 40px;
                        background-color: #F9FAFC;
                        border-style:none;
                        border-bottom:2px solid #ccc;
                        color: #7DBDDB;}
            .below:after {
                      content: "";
                      clear: both;
                      display: table;}
          .box p{ font-size: 12px;}

        .footer_wrapper2 { width:100%;
                         height:25%;
                         background-color: #0deccf;
                         overflow: hidden; 

                        }
      .footer_wrapper2 .footer .text1 { font-size: 15px;}               
      .footer_wrapper2 .footer .text2 { font-size: 15px;}
      .footer_wrapper2 .footer .text1 {
                    float: left;
                    color: #000;
                    padding-left: 35px;               }
      .footer_wrapper2 .footer .text2 {
                    float: right;
                    color: #000;
                    padding-right: 35px;}
               
                    
 

 
              


